
RewriteEngine on
RewriteCond %{HTTP_HOST} ^sugar\.swapp\.co\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.sugar\.swapp\.co\.in$
RewriteRule ^/?$ "http\:\/\/www\.swapp\.co\.in\/sugar\/index\.html" [R=301,L]

